<div class="conatiner hero" style="background-image: url(assets/personal.jpg);"></div>
 <div class="container">
  <h2>Apply for Personal Loan</h2>
    <div class="container alertmsg" >
        <div class="row"*ngIf="showMsg" >
           <div class="col-xs-12">
              <p class="alert alert-success ">
                <strong>{{msg}},OTP Sent!!</strong>
              </p>
           </div>
       </div>
    </div>
    <div class="container alertmsg">
      <div class="row" *ngIf="showalert">
         <div class="col-xs-12">
            <p class="alert alert-danger" >
              <strong>Somting Went Wrong...!</strong>
            </p>
         </div>
     </div>
  </div>
  <div class="container alertmsg">
    <div class="row"*ngIf="showconterr">
       <div class="col-xs-12">
          <p class="alert alert-danger">
            <strong>Please try again after an hour</strong>
          </p>
       </div>
   </div>
</div>
     <form [formGroup]='myForm' class="myform">
         <div class="form-row">
             <div class="form-group col-md-6">
                      <input type="text" name="city" formControlName="city"  class="form-control input--style-5" placeholder="Enter City Name" tabindex="1"> 
                       <div *ngIf="myForm.get('city').invalid && (myForm.get('city').dirty || myForm.get('city').touched)"class="alert alert-danger">
                         <div *ngIf="myForm.get('city').errors.required">City Name is required.</div>
                      </div>
                   </div>
                   <div class="form-group col-md-6">
                     <input type="text" name="panName" formControlName="panName"  class="form-control input--style-5" placeholder="Enter PAN Number" tabindex="1">
                     <div *ngIf="myForm.get('panName').invalid && (myForm.get('panName').dirty || myForm.get('panName').touched)"class="alert alert-danger">
                       <div *ngIf="myForm.get('panName').errors.required">PAN Number is required.</div>
                       <div *ngIf="myForm.get('panName').errors.maxlength">PAN Number must be 10 characters long.</div>
                       <div *ngIf="myForm.get('panName').errors.pattern">Please Enter Valid PAN Number.</div>
                    </div>
                 </div>
                </div>
             <div class="form-row">
                <div class="form-group col-md-6">
                   <input type="text" name="fullname" formControlName="fullname"  class="form-control input--style-5" placeholder="Enter Full Name" tabindex="1"> 
                   <div *ngIf="myForm.get('fullname').invalid && (myForm.get('fullname').dirty || myForm.get('fullname').touched)"class="alert alert-danger">
                     <div *ngIf="myForm.get('fullname').errors.required">FullName is required.</div>
                     <div *ngIf="myForm.get('fullname').errors.maxlength">FullName must be 140 characters long.</div>
                  </div>
                </div>
                  <div class="form-group col-md-6">
                      <input type="email" name="email" formControlName="email"  class="form-control input--style-5" placeholder="Enter Email" tabindex="1"> 
                      <div *ngIf="myForm.get('email').invalid && (myForm.get('email').dirty || myForm.get('email').touched)"class="alert alert-danger">
                        <div *ngIf="myForm.get('email').errors.required">Email is required.</div>
                        <div *ngIf="myForm.get('email').errors.email">Please Enter Valid Email Address.</div>
                        <div *ngIf="myForm.get('email').errors.maxlength">Email must be 255 characters long.</div>
                     </div>
                  </div>
              </div>
             <div class="form-row">
                 <div class="form-group  col-md-6">
                   <div class="input-group">
                    <span class="input-group-addon">+91</span>
                      <input type="text" name="mobile" formControlName="mobile" class="form-control input--style-5" (change) = "getOTP(myForm.value)"  placeholder="Enter Mobile Number" tabindex="6"> 
                    </div>
                     <div *ngIf="myForm.get('mobile').invalid && (myForm.get('mobile').dirty || myForm.get('mobile').touched)"class="alert alert-danger">
                       <div *ngIf="myForm.get('mobile').errors.required">Mobile Number is Required</div>
                       <div *ngIf="myForm.get('mobile').errors.pattern">Mobile Number must be 10 digit long.</div>
                     </div>
                  </div>
                <div class="form-group col-md-4">
                  <input type="text" name="otp" formControlName="otp" class="form-control input--style-5" placeholder="Enter OTP" tabindex="6"> 
                   <div *ngIf="myForm.get('otp').invalid && (myForm.get('otp').dirty || myForm.get('otp').touched)"class="alert alert-danger">
                    <div *ngIf="myForm.get('otp').errors.required">This field required.</div>
                    <div *ngIf="myForm.get('otp').errors.maxlength">OTP not more then 4 digit.</div>
                  </div>
                </div>
                <div class="form-group col-md-2">
                  <button type="button" [disabled]="disabled" class="btn btn-link" [hidden]="hide" (click)="Resend(myForm.value)">Resend OTP</button>
                </div>
            </div>
        </form>
  